body {
    background-color: #7D7C84;
    height: 100%;
}

.map-container {
    display: flex;
    flex-direction: column;
}

#location-map {
    position: unset !important;
}

#location-map > div {
    height: 50% !important;
    left: unset !important;
    top: unset !important;
}

#anitpode-map {
    position: unset !important;
}

#antipode-map > div {
    height: 50% !important;
    left: unset !important;
    top: 50% !important;
}
